#WELCOME
In this Assignment, you'll use **Classifier** to predict the output. You are allowed to write/edit between the
```# START CODE HERE``` & ```# END CODE HERE``` only.<br>
Don't edit the test cells otherwise you'd be failed in the assignment.

Upload the ```utils.zip``` file before running the 1st cell.
[Demo](https://drive.google.com/file/d/1ebkQR6ikjGottmxa5KL83ZWdjTLvRxbm/view?usp=share_link)

**BEST OF LUCK**

**RUN THIS CODE TO UNIZP THE REQUIRED FILES**

In [1]:
!unzip -j /content/utils.zip -d.

'unzip' is not recognized as an internal or external command,
operable program or batch file.

# Dataset Loading and Pre-Processing

In [3]:
import pandas as pd
data = pd.read_csv(r"D:\code\Learners space\Week 2\Classifier\content\weather_classification_data.csv")

## Data Info
```data.info``` gives info about data-types and number of null objects.  
There are no null data, no need to remove any.

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13200 entries, 0 to 13199
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Temperature           13200 non-null  float64
 1   Humidity              13200 non-null  int64
 2   Wind Speed            13200 non-null  float64
 3   Precipitation (%)     13200 non-null  float64
 4   Cloud Cover           13200 non-null  object
 5   Atmospheric Pressure  13200 non-null  float64
 6   UV Index              13200 non-null  int64
 7   Season                13200 non-null  object
 8   Visibility (km)       13200 non-null  float64
 9   Location              13200 non-null  object
 10  Weather Type          13200 non-null  object
dtypes: float64(5), int64(2), object(4)
memory usage: 1.1+ MB

## Data Shuffling
Data Shuffling removes any bias present and creates uniform distribution.

In [5]:
from sklearn.utils import shuffle
data = shuffle(data)
data.head()

,Temperature,Humidity,Wind Speed,Precipitation (%),Cloud Cover,Atmospheric Pressure,UV Index,Season,Visibility (km),Location,Weather Type
889,16.0,67,9.0,16.0,overcast,1007.01,1,Winter,7.5,mountain,Cloudy
12805,-2.0,97,17.5,60.0,overcast,982.42,0,Winter,3.0,inland,Snowy
12832,-6.0,81,17.5,63.0,partly cloudy,982.82,1,Winter,1.5,inland,Snowy
5809,-3.0,94,19.5,65.0,overcast,987.66,1,Winter,4.0,inland,Snowy
12532,34.0,42,4.0,6.0,partly cloudy,1023.90,11,Autumn,9.0,mountain,Sunny

## Scaling and Labeling
Machine can't understand string so all the object datatypes need to be LABELED with integers.<br><br>
Why SCALING?<br>
You might have noticed one column contains data with large values (of order 1000) whereas some column contain small value data (of order 10). As a result, large value columns get more power/importance than others. To remove this disparity we scaled them to same order/values.

**CODE**

We need to find the columns with object datatypes.

HINT: Use ```data.select_dtypes().columns.tolist()```<br>Reference: [w3schools](https://www.w3schools.com/python/pandas/ref_df_select_dtypes.asp#:~:text=The%20select_dtypes()%20method%20returns,the%20specified%20dtype(s).&text=Note%3A%20You%20must%20specify%20at,you%20will%20get%20an%20error.)

In [12]:
# START CODE HERE
object_columns = data.select_dtypes(include='object').columns.tolist()
non_object_columns = data.select_dtypes(include=['int64','float64']).columns.tolist()
# END CODE HERE
print(f"Object Columns: {object_columns}\nNon Object Columns: {non_object_columns}")

['Cloud Cover', 'Season', 'Location', 'Weather Type']
Object Columns: ['Cloud Cover', 'Season', 'Location', 'Weather Type']
Non Object Columns: ['Temperature', 'Humidity', 'Wind Speed', 'Precipitation (%)', 'Atmospheric Pressure', 'UV Index', 'Visibility (km)']

**TEST** (DON'T EDIT THIS CELL)

In [13]:
# DON'T EDIT THIS CELL
if (object_columns == ['Cloud Cover', 'Season', 'Location', 'Weather Type'] and non_object_columns == ['Temperature', 'Humidity', 'Wind Speed', 'Precipitation (%)', 'Atmospheric Pressure', 'UV Index', 'Visibility (km)']):
  print(f"\033[32mTest Passed\033[0m")
else:
  print(f"\033[31mTest Failed\033[0m")

Test Passed

**CODE**

We need to convert the object-type columns data into integral labels and scale the non-object-type columns data.

HINT: Use ```ColumnTransformer()```<br>Reference: [scikit-learn](https://scikit-learn.org/stable/modules/generated/sklearn.compose.ColumnTransformer.html), [ChatGPT](https://chatgpt.com/c/7f3c1b02-5da0-4c34-bdb2-d999dccb9c2f)

In [14]:
from sklearn.preprocessing import OrdinalEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

# START CODE HERE

column_transformer = ColumnTransformer(
    transformers=[
        ('obj', OrdinalEncoder(), object_columns),
        ('num', StandardScaler(), non_object_columns)
    ]
)

# Fit and transform the data
data_scaled_labeled = column_transformer.fit_transform(data)

# END CODE HERE

all_columns = object_columns + non_object_columns

# Create the new DataFrame
data_scaled_labeled = pd.DataFrame(data_scaled_labeled, columns=all_columns)

**TEST** (DON'T EDIT THIS CELL)

In [16]:
# DON'T EDIT THIS CELL

data_scaled_labeled_check = pd.read_csv(r"D:\code\Learners space\Week 2\Classifier\content\data_scaled_labeled_check.csv")
import numpy as np
data_scaled_labeled_values = np.sort(data_scaled_labeled.values,axis=0)
data_scaled_labeled_check_values = np.sort(data_scaled_labeled_check.values,axis=0)
if np.allclose(data_scaled_labeled_values, data_scaled_labeled_check_values, equal_nan=True):
  print(f"\033[32mTest Passed\033[0m")
else:
  print(f"\033[31mTest Failed\033[0m")

Test Passed

In [18]:
data_scaled_labeled.head()

,Cloud Cover,Season,Location,Weather Type,Temperature,Humidity,Wind Speed,Precipitation (%),Atmospheric Pressure,UV Index,Visibility (km)
0,2.0,3.0,2.0,0.0,-0.179894,-0.084722,-0.120461,-1.178401,0.031779,-0.779410,0.604230
1,2.0,3.0,1.0,2.0,-1.215229,1.400906,1.109918,0.198953,-0.629275,-1.038715,-0.730539
2,3.0,3.0,1.0,2.0,-1.445304,0.608571,1.109918,0.292863,-0.618522,-0.779410,-1.175461
3,2.0,3.0,1.0,2.0,-1.272748,1.252343,1.399419,0.355470,-0.488408,-0.779410,-0.433923
4,3.0,0.0,2.0,3.0,0.855442,-1.322745,-0.844213,-1.491435,0.485833,1.813646,1.049153

## Data Splitting

**CODE**

We need to drop the Weather Type column from data_scaled_labeled to get the X and pick Weather Type column to get Y

Use 90-10 split of data, i.e. 90% for training, 10% for testing

In [25]:
X = data_scaled_labeled.drop(columns='Weather Type')
y = data_scaled_labeled['Weather Type']



from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, train_size = 0.9, random_state = 10)

   Cloud Cover  Season  Location  Temperature  Humidity  Wind Speed  \
0          2.0     3.0       2.0    -0.179894 -0.084722   -0.120461
1          2.0     3.0       1.0    -1.215229  1.400906    1.109918
2          3.0     3.0       1.0    -1.445304  0.608571    1.109918
3          2.0     3.0       1.0    -1.272748  1.252343    1.399419
4          3.0     0.0       2.0     0.855442 -1.322745   -0.844213

   Precipitation (%)  Atmospheric Pressure  UV Index  Visibility (km)
0          -1.178401              0.031779 -0.779410         0.604230
1           0.198953             -0.629275 -1.038715        -0.730539
2           0.292863             -0.618522 -0.779410        -1.175461
3           0.355470             -0.488408 -0.779410        -0.433923
4          -1.491435              0.485833  1.813646         1.049153

In [29]:
print(y)

0        0.0
1        2.0
2        2.0
3        2.0
4        3.0
        ...
13195    2.0
13196    3.0
13197    2.0
13198    3.0
13199    1.0
Name: Weather Type, Length: 13200, dtype: float64

**TEST** (DON'T EDIT THIS CELL)

In [26]:
# DON'T EDIT THIS CELL

if (len(X_train)==11880 and len(X_test)==1320):
  print(f"\033[32mTest Passed\033[0m")
else:
  print(f"\033[31mTest Failed\033[0m")

if (len(y_train)==11880 and len(y_test)==1320):
  print(f"\033[32mTest Passed\033[0m")
else:
  print(f"\033[31mTest Failed\033[0m")

Test Passed
Test Passed

In [27]:
X_train.head()

,Cloud Cover,Season,Location,Temperature,Humidity,Wind Speed,Precipitation (%),Atmospheric Pressure,UV Index,Visibility (km)
7017,2.0,2.0,2.0,-0.467487,-0.183764,0.386166,-0.270600,0.263779,-0.260799,0.604230
12278,2.0,2.0,2.0,-0.064857,-0.778015,-0.192836,0.449380,-2.319143,-0.001493,0.307615
2859,3.0,1.0,0.0,-0.294931,0.212404,1.327043,0.637201,-0.301571,-0.260799,-0.730539
5495,2.0,0.0,0.0,-0.409968,1.351385,-0.627087,0.950236,0.120761,-0.260799,-0.285616
8469,3.0,0.0,0.0,0.337774,0.014320,-0.844213,-1.021883,0.146031,-0.779410,-0.137308

# Training and Testing
Use any suitable classifier to fit the training data and check the accuracy on test data

Don't forget to import that library

**CODE**

ACCURACY should be more than 90%,

1. Fit the model to X_train and y_train
2. Find the model score on X_test and y_test

In [30]:
# START CODE HERE

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=42)
model.fit(X_train,y_train)
score = model.score(X_test,y_test)

# END CODE HERE

print("Accuracy:", score*100)

Accuracy: 90.37878787878788

**TEST** (DON'T EDIT THIS CELL)

In [31]:
# DON'T EDIT THIS CELL

if (score>0.90):
  print(f"\033[32mTest Passed\033[0m")
else:
  print(f"\033[31mTest Failed\033[0m")

Test Passed

# Predicting Output (Here, Weather Type) (Optional)

In [32]:
input = X_test.head()
input

,Cloud Cover,Season,Location,Temperature,Humidity,Wind Speed,Precipitation (%),Atmospheric Pressure,UV Index,Visibility (km)
11923,3.0,0.0,2.0,-0.697562,-0.332327,0.241415,1.231967,-2.266990,2.591563,3.866997
2331,0.0,3.0,2.0,0.510330,-1.075141,-0.554712,-1.334918,0.625894,0.776424,0.159307
217,2.0,3.0,1.0,-1.100192,0.360966,-1.350840,0.543291,-0.259634,-1.038715,-1.175461
1760,1.0,2.0,2.0,-0.697562,-0.877057,-0.120461,-0.708848,-5.499675,1.035729,-0.433923
3963,0.0,0.0,2.0,0.625367,-1.867475,-0.627087,-1.616649,0.467553,0.517118,1.049153

In [33]:
y = model.predict(input)
y

array([1., 3., 2., 3., 3.])

Here, the outputs are in numbers. We can perform inverse column transfer for getiing the string values.